.page-content {
    background-color: rgb(240, 240, 240);
}

.module-container {
    width: 100%;
    padding: 3rem;
}

@media(max-width: 768px) {
    .module-container{
        padding: 1rem;
    }
}