.sidebar {
    width: max-content;
    border-right: 2px solid rgba(187, 187, 187, 0.363);
    border-bottom: 2px solid rgba(187, 187, 187, 0.363);
}

.side-icons:hover {
    background-color: rgb(229, 229, 229);
    transition: 0.5s;
}

@media(max-width: 992px) {
    .sidebar{
        display: none;
    }
}